{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            <a href="{% url 'edit_recipe' recipe_object.id %}">Edit recipe</a>
        </nav>
    </header>
    <main>
        <h1>
            {{  recipe_object.title}}
        </h1>
        <div>
            <img src="{{ recipe_object.picture }}"><br>
            4.3 stars &nbsp;&nbsp;&nbsp;&nbsp; Servings: {{ recipe_object.servings }}
            <p style=width:560px;>{{ recipe_object.description }}</p>
        </div>
        <h2>
            Ingredients
        </h2>
        <table>
            <thread>
                <tr>
                    <th>
                        Amount
                    </th>
                    <th>
                        Food item
                    </th>
                </tr>
            </thread>
            <tbody>
                <tr>
                   {% for ingredients in recipe_object.ingredients.all%}
                   <li>{{ ingredients.food_item}}</li>
                   {% endfor %}
                </tr>
            </tbody>
        </table>
        <h2>
            Steps
        </h2>
        <ol>
            {% for step in recipe_object.steps.all %}
            <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>
    </main>
    <footer class="foot_wrap">
        Made with love by Scrumptious Recipes
    </footer>

</body>
</html>
