{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe_object.title }} - Scrumptious Recipes
        <p>{{ recipe.created_on |date:"F d Y" }}</p></title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>

            {% if user.is_authenticated %}
            <a href="{% url 'create_recipe' %}">Create a recipe</a>
            <a href="{% url 'my_recipe_list' %}">My recipes</a>
            {% endif %}

            {% if user.is_authenticated %}
                Hello, {{ user.username }}
                <a href="{% url 'user_logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>
            Scrumptious Recipes
        </h1>
        <h2>
            All the food that's fit to eat
        </h2>
        <div class="recipe_grid">
            {% for recipe in recipe_list %}
            <div>
            <div>
                <center><h3>
                    <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3></center>
                <center><img src="{{ recipe.picture }}"></center>
                <center><div>4.3 stars</div></center>
            </div>
            </div>
            {% empty %}
                <p>There are no recipes.</p>
            {% endfor %}
        </div>
    </main>
    <footer class="foot_wrap">
        <grid_item>Made with love by Scrumptious Recipes</grid_item>
    </footer>

</body>
</html>
