* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    background-color: orangered;
    color: white;
    border-bottom: 1px black solid;
    padding: 16px;
  }

  nav > a {
    color: white;
    text-decoration-line:none
  }

  main {
    padding: 16px;
  }

  footer {
    background-color: rgb(167, 211, 79);
    font-size: 1em;
  }

   img {
    padding-top: 15px;
    height: 200px;
    width: auto
  }

  h2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

 table > tbody > tr:nth-child(even) {
    background-color: lightgrey
 }

  td {
    padding-left: 2px;
  }

  ol {
    padding-left: 20px;
  }

  li {
    padding-left: 5px;
  }

  .recipe_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

  h1, h3 > a {
    color: green;
    text-decoration-line:none

  }

  .foot_wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 75px;
    background-color: rgb(167, 211, 79);
    padding: 15px;
    display: flex;
    align-items: center;
  }

  grid-item {
    margin: auto;
  }

  h1:hover, h2:hover, h3:hover, table :hover, li:hover{
    background-color: rgba(178, 60, 10, 0.2);
  }
